
{{#each surveys as |survey|}}



  <section class='survey'  data-id="{{survey._id}}">
      <!-- New dashboard -->
    <div class="content">

      <!-- Flipping modal -->
    <div class="widget-box sample-widget">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2>{{survey.title}}</h2>
          </div>
          <div class="flip-box-back">
            <h2>{{survey.question}}</h2>
            <div id="submit-{{survey._id}}">
            <form class="fisto5">
              <select name="question">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <br><br>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
            </div>
            <div id="responses-{{survey._id}}" class="hidden"></div>
            <canvas id="myChart-{{survey._id}}"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  </section>
{{/each}}
